include _head.pug
nav
  block nav
    include _nav.pug
header
  block header
    h1 Header Header Header
main
  block content
    i ...Sorry no content
footer
  block footer
    p Footer Footer Footer
block scripts
  script(src="js/script.js") 